#map {
    width: 100%;
    height: 500px;
}
.map-icon {
    border:1px solid white;
    background: darkslategrey; 
    z-index: 99999;
    opacity: .8;
    border-radius: 3px;
}

.map-icon:hover {
    background: gray;
    cursor: pointer;
    opacity: .5;
}